@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');

body {
    margin: 0;
    font-size: 16px;
    background-color: #ff5454;
    font-family: 'Actor', sans-serif;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

.custom-box {
    max-width: 700px;
    background-color: rgb(253, 253, 253) ;
    margin: 40px auto;
    padding: 30px;
    border-radius: 6px;
}

.home-box {
    font-size: 18px;
    line-height: 25px;
}

.home-box p {
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 10px;;
    line-height: 22px;
}

.home-box p span {
    font-weight: bolder;
    font-size: 20px;
}

.btn {
    padding: 10px;
    background-color: white;
    color: #ff5454;;
    border-radius: 20px;
    border: 2px solid #ff5454;;
    font-size: 16px;
    width: 100px;
    display: inline-block;
}

.quiz-box .question-number{
    font-size: 20px;
    font-weight: bolder;
    border-bottom: 1px solid;
    line-height: 50px;

}

.quiz-box .question-img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.quiz-box .question-img img{
    width: 100px;
}

.quiz-box .question-text{
    font-size: 22px;
    line-height: 20px;
    font-weight: bolder;
    padding: 15px 0;
    margin: 0;
    display: flex;
    justify-content: center;
    border: 1px solid;
}

.quiz-box .option-container{
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.quiz-box .option-container .option{
    background-color: #ff5454;
    padding: 15px;
    line-height: 20px ;
    border-radius: 6px;
    margin-bottom: 10px;
    cursor: pointer;
    color: white;
    width:35%;
    text-align: center;
}

.quiz-box .answers-indicator{

}